body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    color: #333;
  }
  
  form {
    margin-top: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .pokemon-container {
    margin-top: 20px;
  }
  
  .pokemon-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 100%;
    list-style: none;
  }
  
  .pokemon-card h2 {
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
    
  }
  
  .pokemon-card img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
  
  .pokemon-card p {
    color: #666;
    margin-bottom: 5px;
  }
  
  .pokemon-card ul li{
    list-style: none;
    
  }

  .pokemon-card ul {
    padding: 0 ;
    text-transform: uppercase;
    text-align: left;
    

  }

  .pokemon-card li {
    margin-top: 10px;
  }